:root {
    --md-primary-fg-color: #D8E0FF; /* Primær tekstfarve */
    --md-primary-bg-color: #1a2533; /* Primær baggrundsfarve, lysere */
    --md-accent-fg-color: #ff66e0; /* Accent / Fremhævet tekstfarve, lysere pink */
    --md-default-fg-color: #4ad9e4; /* Standard tekstfarve */
    --md-default-bg-color: #2c3032; /* Standard baggrundsfarve, lysere */
    --md-secondary-fg-color: #FFC0CB; /* Sekundær tekstfarve */
    --md-secondary-bg-color: #2c3e70; /* Sekundær baggrundsfarve, lysere */
    --md-tertiary-fg-color: #9d7dc5; /* Tertiær tekstfarve */
    --md-tertiary-bg-color: #004080; /* Tertiær baggrundsfarve, lysere */
    --md-header-bg-color: #064060; /* Baggrundsfarve for header, lysere */
    --md-footer-bg-color: #043a6b; /* Baggrundsfarve for footer, lysere */
    --md-code-fg-color: #FFD700; /* Tekstfarve for koden */
    --md-code-bg-color: #ff77ff; /* Baggrundsfarve for kodeblokke, lysere pink */
    --md-blockquote-fg-color: #12c4e4; /* Tekstfarve for blockquotes */
    --md-blockquote-bg-color: #512168; /* Baggrundsfarve for blockquotes, lysere */
    --md-admonition-bg-color: #332a48; /* Baggrundsfarve for admonitions, lysere */
    --md-admonition-fg-color: #15db99; /* Tekstfarve for admonitions */
    --md-link-hover-color: #FF69B4; /* Link hover farve */
}

/* Header-specifik styling */
.md-header {
  background-color: var(--md-primary-bg-color); /* Sætter headerens baggrundsfarve */
}

.md-header__title {
  color: var(--md-accent-fg-color); /* Sætter farven på sidetitlen i headeren */
}

.md-header__button {
  color: var(--md-admonition-fg-color); /* Sætter farven på knapper i headeren */
}

/* Sikrer at links i headeren matcher temaet */
.md-header-nav__link {
  color: var(--md-primary-fg-color); /* Tekstfarve for links i headeren */
}

.md-header-nav__link:hover, .md-header-nav__link--active {
  background-color: var(--md-accent-fg-color); /* Baggrundsfarve for links ved hover/aktiv */
  color: var(--md-admonition-fg-color); /* Tekstfarve for links ved hover/aktiv */
}

/* Specifikke tilpasninger for elementer */
.md-nav__link:hover, .md-nav__link:focus {
  background-color: var(--md-secondary-bg-color); /* Baggrundsfarve for hover på links */
  color: var(--md-link-hover-color); /* Tekstfarve for hover */
}

.md-footer {
  background-color: var(--md-footer-bg-color);
  color: var(--md-secondary-fg-color);
}

.md-code-block {
  background-color: var(--md-code-bg-color);
  color: var(--md-code-fg-color);
}

.md-blockquote {
  border-left-color: var(--md-accent-fg-color);
  background-color: var(--md-blockquote-bg-color);
  color: var(--md-blockquote-fg-color);
}

.admonition {
  background-color: var(--md-admonition-bg-color);
  color: var(--md-admonition-fg-color);
}

/* Tabelheader */
.md-table thead th {
  background-color: var(--md-secondary-bg-color); /* Baggrundsfarve for tabelheaders */
  color: var(--md-primary-fg-color); /* Tekstfarve for tabelheaders */
}

/* Knapper ved hover */
button:hover, .md-button:hover {
  background-color: var(--md-tertiary-bg-color); /* Baggrundsfarve for knapper ved hover */
  color: var(--md-primary-fg-color); /* Tekstfarve for knapper ved hover */
}

/* Aktivt link i navigation */
.md-nav__link--active {
  background-color: var(--md-accent-fg-color); /* Baggrundsfarve for aktive links */
  color: var(--md-default-bg-color); /* Tekstfarve for aktive links */
}

/* Sidepanel / Drawer */
.md-drawer--primary {
  background-color: var(--md-admonition-fg-color); /* Baggrundsfarve for sidepanelet */
  color: var(--md-primary-fg-color); /* Tekstfarve for sidepanelet */
}

/* Sidepanel links ved hover */
.md-nav__item--active > .md-nav__link, .md-nav__link:hover {
  background-color: var(--md-accent-bg-color); /* Baggrundsfarve for links ved hover */
  color: var(--md-accent-fg-color); /* Tekstfarve for links ved hover */
}

/* Overskrifter */
.md-content h1, .md-content h2, .md-content h3, .md-content h4, .md-content h5, .md-content h6 {
  color: var(--md-accent-fg-color); /* Tekstfarve for overskrifter */
}

/* Tekst markering */
::selection {
  background-color: var(--md-accent-fg-color); /* Baggrundsfarve for tekst markering */
  color: var(--md-default-bg-color); /* Tekstfarve for tekst markering */
}

/* Tilpasning af formular input felter */
input[type="text"], input[type="email"], input[type="password"], textarea {
  background-color: var(--md-default-bg-color); /* Baggrundsfarve for input felter */
  color: var(--md-primary-fg-color); /* Tekstfarve for input felter */
  border-color: var(--md-accent-fg-color); /* Kantfarve for input felter */
}

.md-source__icon svg {
  color: var(--md-accent-fg-color);
}

.md-source__repository {
  color: var(--md-accent-fg-color);
}

.md-source__facts {
  color: var(--md-accent-fg-color);
}
