.intro-image {
  width: 30%;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}

.rounded-image {
  border-radius: 50%;
  width: 100%; /* Gør billederne responsive indenfor deres `figure` container */
  height: auto;
  max-width: 150px; /* Maksimal bredde for billeder for at forblive konsistent */
  max-height: 150px; /* Tilføjer maksimal højde for at holde billederne konsekvent i størrelse */
}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Tilføjer mellemrum mellem billeder */
  padding: 50px;
}

section {
  padding-top: 60px;
}

figcaption {
  text-align: center;
}

figure {
  flex: 1 1 200px; /* Tillader items at vokse og krympe med en basisbredde på 200px */
  padding: 20px;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column; /* Sikrer at billedet og teksten inden i `figure` er stablet */
}

img {
  display: block;
  margin: 0 auto; /* Centrerer billedet i `figure` */
  max-width: 150px; /* Maksimal bredde for billeder for at forblive konsistent */
}

.image-logo-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-image-disabled, .logo-image {
  width: 40px;
  height: auto;
}

.logo-image:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .image-container {
    flex-direction: column;
  }

  figure {
    flex-basis: 100%; /* Gør at hvert billede tager fuld bredde på mindre skærme */
  }
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Giver afstand mellem profilerne */
}

.profile-image {
  border-radius: 50%;
  width: 100px; /* Eller en anden passende størrelse */
  height: auto;
  margin-right: 20px; /* Giver afstand mellem billede og tekst */
}

.profile-text h2 {
  margin-top: 0;
}

.profile-text p {
  margin-bottom: 0;
}

/* Responsiv tilpasning */
@media (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-image {
    width: 80px; /* Mindre størrelse for små skærme */
    margin-bottom: 10px; /* Afstand mellem billede og tekst */
  }
}